/* *common css starts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}
.alignItemsCenter {
  align-items: center;
}

/* *common css ends */

/* *slider starts */
.slider {
  margin-top: 100px;
}

.slider div {
  padding: 0 15px;
  transform: scale(60%);
  transition: 0.5s ease-in;
}
.slider div.slick-center {
  transform: scale(100%);
}
.slider div.slick-center img {
  border-radius: 20px;
  filter: blur(0px) grayscale(0%);
}
.slider img {
  width: 100%;
  filter: blur(3px) grayscale(100%);
}
.leftArrow,
.rightArrow {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: solid 1px #ccc;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transition: 0.35s ease;
  opacity: 0;
}
.banner:hover .leftArrow,
.banner:hover .rightArrow {
  opacity: 1;
}
.leftArrow {
  left: 35%;
}
.rightArrow {
  right: 33%;
}
.leftArrow:hover,
.rightArrow:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.mydots {
  text-align: center;
}
.mydots li {
  display: inline-block;
  margin-left: 5px;
  margin-top: 20px;
}
.mydots li button {
  outline: none;
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  color: transparent;
  background-color: #ccc;
}
.mydots li.slick-active button {
  background-color: #333;
}
/* *slider ends */
